@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

body {
  margin: 0;
  padding: 0 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 113px;

  img {
    height: 26px;
    width: 236px;
  }
}

ul {
  display: flex;
  list-style: none;
  gap: 33px;

  a {
    text-decoration: none;
    color: rgb(131, 136, 143);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.92px;
  }
}

/* main */

/* section first */
section.first {
  height: 450px;
  background-image: url(./images/backgroundpic.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 137px 85px;

  h1 {
    font-size: 40px;
    color: rgba(254, 252, 247, 1);
    line-height: 48px;
    font-weight: 900;
    margin-bottom: 24px;
    font-family: "Fraunces", serif;
  }

  p {
    color: rgba(254, 252, 247, 1);
    width: 445px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
  }
}
