@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

body {
  margin: 0;
  padding: 0 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 113px;

  img {
    height: 26px;
    width: 236px;
  }
}

ul {
  display: flex;
  list-style: none;
  gap: 33px;

  a {
    text-decoration: none;
    color: rgb(131, 136, 143);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.92px;
  }
}

/* main */

/* section first */
section.first {
  height: 450px;
  background-image: url(./images/backgroundpic.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 137px 85px;

  h1 {
    font-size: 40px;
    color: rgba(254, 252, 247, 1);
    line-height: 48px;
    font-weight: 900;
    margin-bottom: 24px;
    font-family: "Fraunces", serif;
  }

  p {
    color: rgba(254, 252, 247, 1);
    width: 445px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
  }
}

/* section second */

section.second {
  display: flex;
  align-items: center;
  gap: 125px;
  margin-top: 168px;
  margin-bottom: 168px;
  color: rgba(51, 61, 75, 1);
  h2 {
    font-family: "Fraunces", serif;
    font-size: 40px;
    font-weight: 900;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 32px;
  }
}

/* section third */
section.third {
  div.dark {
    height: 474px;
    background-color: rgb(42 49 58);
    display: flex;
    padding: 0 85px;
    position: relative;
    border-radius: 10px;
    margin-bottom: 168px;
  }
  img.heart {
    position: absolute;
    right: 85px;
    bottom: 88px;
  }
  div.text {
    width: 540px;
    padding-top: 88px;
    h2 {
      color: rgba(254, 252, 247, 1);
      font-weight: 900;
      font-family: "Fraunces", serif;
      font-size: 40px;
      margin-bottom: 32px;
    }
    p {
      color: rgb(211 212 209);
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

/* section fourth */

section.fourth {
  div.texts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 168px;
  }
  h3 {
    font-size: 32px;
    font-weight: 900;
    color: rgba(51, 61, 75, 1);
    line-height: 36px;
    font-family: "Fraunces", serif;
    margin-top: 45.93px;
    margin-bottom: 24px;
    width: 285px;
  }
  p {
    color: rgba(51, 61, 75, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  img.headquarters {
    margin-bottom: 72px;
  }
}

/* footer */
footer {
  background-color: rgb(44 52 62);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 88px;
  height: 120px;
  img.footer {
    width: 236px;
    height: 26px;
  }
  div.icons {
    display: flex;
    gap: 24px;
  }
}
